// ===============
// colors palette
// ===============
:root {
    // Site colors (Кольори сайту):
    // =================================================================
    --color-bg: #fcfcf7;
    --color-black: #313030;
    --color-gold: #c38c53;
    --color-white: #ffffff;
    --color-light-gray: #ededee;
    --color-grey: #f2f2ed;
    --color-text-na: #abaaa7;
    --color-text-paragraph: #595656;
}
