body::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.8s ease 0s;
    pointer-events: none;
    z-index: 149;
}
.popup-show body::after {
    opacity: 1;
}
.popup_show {
    z-index: 150;
    visibility: visible;
    overflow: auto;
    pointer-events: auto;
}
.popup_show .popup__content {
    visibility: visible;
    transform: scale(1);
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 30px 10px;
    transition: visibility 0.8s ease 0s;
    visibility: hidden;
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100%;
        flex: 1 1 auto;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__content {
        visibility: hidden;
        transform: scale(0);
        transition: transform 0.3s ease 0s;
        background: #fcfcf7 url("@img/bg-drowing.jpeg") center center / cover no-repeat;
        padding: toRem(42) toRem(60);
        width: 100%;
        max-width: 600px;
        border-radius: 6px;
        .lock & {
            visibility: visible;
        }
        @media (max-width: $mobile) {
            padding: toRem(74) toRem(21) toRem(44);
        }
        #popup-thanks & {
            @include adaptiveValue("padding-top", 113, 77);
            @include adaptiveValue("padding-bottom", 113, 77);
            text-align: center;
        }
        #popup-policy & {
            max-width: toRem(1026);
            padding: toRem(60) toRem(78) toRem(60) toRem(105);
            @media (max-width: $mobile) {
                padding: toRem(50) toRem(13);
            }
        }
    }
    &__close {
        position: absolute;
        top: toRem(30);
        right: toRem(30);
        width: toRem(24);
        height: toRem(24);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: toRem(12);
        transition: transform 0.3s;
        &:focus {
            outline: none;
            transform: scale(1.5);
        }
        @media (any-hover: hover) {
            &:hover {
                transform: scale(1.5);
            }
        }
        &:active {
            transform: scale(1.5);
        }
    }
    &__body {
        max-width: toRem(395);
        margin: 0 auto;
        #popup-policy & {
            height: toRem(430);
            max-width: none;
            overflow-y: scroll;
            @media (min-width: $mobile) {
                padding-right: toRem(27);
            }
            @media (max-width: $mobile) {
                height: toRem(638);
            }
        }
    }
    &__title {
        @include adaptiveValue("font-size", 20, 16);
        text-align: center;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 40, 30);
            #popup-thanks & {
                margin-bottom: toRem(10);
            }
        }
        #popup-policy & {
            text-transform: uppercase;
            @include adaptiveValue("font-size", 40, 20);
            text-align: left;
            &:not(:last-child) {
                @include adaptiveValue("margin-bottom", 40, 20);
            }
        }
    }
    &__form {
    }
    &__text {
        color: var(--color-text-paragraph);
        @media (max-width: $mobile) {
            color: var(--color-text-na);
        }
        #popup-policy & {
            font-family: "Rubik", sans-serif;
            line-height: 1.5;
            @include adaptiveValue("font-size", 18, 14);
            &:not(:last-child) {
                margin-bottom: toRem(38);
            }
            p:not(:last-child) {
                margin-bottom: toRem(10);
            }
        }
    }
    &__content-part {
        font-size: toRem(18);
        font-family: "Rubik", sans-serif;
        line-height: 1.5;
        &:not(:last-child) {
            margin-bottom: toRem(30);
        }
    }
    &__sub-title {
        font-family: "Unbounded", sans-serif;
        &:not(:last-child) {
            margin-bottom: toRem(10);
        }
    }
}
._icon-exit {
}
.form-popup {
    display: flex;
    flex-direction: column;
    gap: toRem(30);
    &__input {
    }
    &__textarea {
    }
    &__button {
        align-self: flex-start;
    }
}
.input {
}
.button {
    &--gold {
    }
}
