//====================================================================================================
.home {
    &__main-block {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 120, 60);
        }
    }
    &__about {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 120, 65);
        }
    }
    &__specialize {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 120, 60);
        }
    }
    &__stages {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 120, 60);
        }
    }
    &__consult {
    }
    &__works {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 120, 60);
        }
    }
    &__faq {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 120, 60);
        }
    }
}
.consult__wrapper {
    &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 120, 60);
    }
    & > *:not(:last-child) {
        margin-bottom: toRem(20);
    }
}
//========================================================================================================================================================
.main-block {
    background: url("@img/main-bg.jpeg") center center / cover no-repeat;
    @include adaptiveValue("padding-top", 190, 154);
    @include adaptiveValue("padding-bottom", 138, 57);
    color: var(--color-white);
    &__container {
        @media (min-width: $tablet) {
            position: relative;
            @include adaptiveValue("padding-left", 117, 60, 0, 1300, 992);
            @include adaptiveValue("padding-right", 117, 60, 0, 1300, 992);
        }
    }
    &__content {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 75, 90);
        }
    }
    &__offer {
    }
    &__title {
        @include adaptiveValue("font-size", 60, 30);
        &:not(:last-child) {
            margin-bottom: toRem(20);
        }
        opacity: 0;
        transform: translateX(-20px);
        .loaded & {
            transition:
                opacity 0.5s,
                transform 0.5s;
            transform: translate(0);
            opacity: 1;
        }
    }
    &__sub-title {
        @include adaptiveValue("font-size", 20, 14);
        font-weight: 200;
        line-height: 1.5;
        max-width: toRem(500);
        &:not(:last-child) {
            margin-bottom: toRem(40);
        }
        opacity: 0;
        transform: translateX(-20px);
        .loaded & {
            transition:
                opacity 0.5s 0.3s,
                transform 0.5s 0.3s;
            transform: translate(0);
            opacity: 1;
        }
    }
    &__buttons {
        display: flex;
        flex-wrap: wrap;
        gap: toRem(20);
        align-items: center;
        @media (max-width: $mobile) {
            display: none;
        }
        opacity: 0;
        transform: translateX(-20px);
        .loaded & {
            transition:
                opacity 0.5s 0.5s,
                transform 0.5s 0.5s;
            transform: translate(0);
            opacity: 1;
        }
    }
    &__button {
    }
    &__society {
        position: absolute;
        top: toRem(46);
        right: 0;
        @media (max-width: $tablet) {
            display: none;
        }
    }
    &__benefits {
        @media (max-width: $mobile) {
            &:not(:last-child) {
                @include adaptiveValue("margin-bottom", 75, 90);
            }
        }
    }
    &__order-button {
        display: none;
        @media (max-width: $mobile) {
            display: inline-flex;
        }
    }
}
.main-title {
    &__main {
        @media (min-width: $tablet) {
            display: block;
        }
    }
    &__part {
        font-weight: 200;
        @media (max-width: $mobile) {
            display: block;
        }
    }
    &__decor {
        height: 100%;
        display: inline-block;
        @media (min-width: $mobile) {
            margin-right: toRem(26);
        }
        @media (max-width: $mobile) {
            margin-left: toRem(13);
        }
        &::before {
            content: "";
            width: 80px;
            height: toRem(3);
            top: 50%;
            transform: translate(0, -15px);
            background-color: var(--color-gold);
            @media (max-width: $mobile) {
                width: toRem(40);
                transform: translate(0, -10px);
            }
        }
    }
}
.society-main-block {
    @media (min-width: $tablet) {
        display: flex;
        gap: toRem(15);
        flex-direction: column;
    }
    &__item {
        width: toRem(42);
        height: toRem(42);
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color: #24222340;
        color: var(--color-white);
        font-size: toRem(16);
        border: 1px solid transparent;
        transition:
            border-color 0.3s,
            background-color 0.3s,
            filter 0.3s,
            text-shadow 0.3s;
        @media (any-hover: hover) {
            &:hover {
                border: 1.5px solid var(--color-white);
                background-color: transparent;
                box-shadow:
                    inset 0 3.2px 3.2px #00000025,
                    inset 0 1.6px 3.2px #ffffd520;
                backdrop-filter: blur(88px);
            }
        }
        opacity: 0;
        transform: translateX(20px);
        .loaded & {
            transition:
                opacity 0.5s 0.8s,
                transform 0.5s 0.8s;
            transform: translate(0);
            opacity: 1;
            &:nth-child(2) {
                transition-delay: 1s;
            }
            &:nth-child(3) {
                transition-delay: 1.2s;
            }
        }
    }
}
.benefits-main-block {
    display: flex;
    gap: toRem(30);
    justify-content: space-between;
    &__item {
        display: flex;
        flex-direction: column;
        line-height: 1.5;
        align-items: center;
        text-align: center;
        @media (any-hover: hover) {
            transition: color 0.3s;
            &:hover {
                color: var(--color-gold);
            }
        }
        @media (max-width: $mobile) {
            &:nth-child(1) {
                order: 2;
            }
            &:nth-child(2) {
                order: 3;
            }
            &:nth-child(3) {
                order: 1;
            }
        }
    }
    &__result {
        @include adaptiveValue("font-size", 30, 16);
        @media (max-width: $tablet) {
            color: var(--color-gold);
        }
    }
    &__value {
    }
    &__label {
        font-weight: 200;
        @include adaptiveValue("font-size", 18, 12);
    }
}
//========================================================================================================================================================
.about {
    &__container {
    }
    &__title-block {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 50, 30);
        }
    }
    &__super-spollers {
    }
}
//========================================================================================================================================================
.specialize {
    &__heading {
        &:not(:last-child) {
            margin-bottom: toRem(30);
        }
    }
    &__section {
        @media (max-width: $mobile) {
            &:not(:last-child) {
                margin-bottom: toRem(60);
            }
        }
    }
}
.heading-specialize {
    &__container {
    }
    &__title-block {
        @include adaptiveValue("margin-bottom", 50, 30);
        display: block;
    }
    &__list {
        @media (min-width: $mobile) {
            display: flex;
            gap: toRem(20);
            justify-content: space-between;
            @media (max-width: $tablet) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }
        }
        @media (max-width: $mobile) {
            display: none;
        }
    }
    &__list-item {
    }
    &__item-link {
        @media (min-width: $mobile) {
            display: flex;
            @include adaptiveValue("gap", 20, 10, 0, 1240, 992);
            align-items: flex-start;
            color: var(--color-text-paragraph);
            font-weight: 200;
            transition: color 0.3s;
            @include adaptiveValue("font-size", 20, 16, 0, 1240, 992);
            &::before {
                content: "";
                width: toRem(10);
                height: toRem(10);
                border-radius: 50%;
                background-color: var(--color-text-paragraph);
                transition: background-color 0.3s;
                flex: 0 0 auto;
                @media (min-width: $tablet) {
                    @include adaptiveValue("margin-top", 8, 3, 0, 1240, 768);
                }
                @media (max-width: $tablet) {
                    width: toRem(8);
                    height: toRem(8);
                    margin-top: toRem(6);
                }
            }
            @media (any-hover: hover) {
                &:hover {
                    font-weight: 300;
                    color: var(--color-gold);
                    &::before {
                        background-color: var(--color-gold);
                    }
                }
            }
            @media (max-width: $tablet) {
                justify-content: center;
            }
        }
    }
}
.section-specialize {
    &__main-block {
        @media (min-width: $mobile) {
            position: relative;
            padding: toRem(190) 0;
            min-height: 100vh;
            display: flex;
            align-items: flex-end;
        }
    }
    &__container {
        width: 100%;
    }
    &__label {
        @media (min-width: $mobile) {
            display: none;
        }
        @media (max-width: $mobile) {
            color: var(--color-gold);
            display: flex;
            gap: toRem(10);
            align-items: center;
            &::before {
                content: "";
                width: toRem(8);
                height: toRem(8);
                background-color: var(--color-gold);
                border-radius: 50%;
            }
            &:not(:last-child) {
                margin-bottom: toRem(20);
            }
        }
    }
    &__offer {
        position: relative;
        z-index: 2;
        color: var(--color-white);
    }
    &__image {
        @media (min-width: $mobile) {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                pointer-events: none;
                background: linear-gradient(
                    139.06deg,
                    rgba(0, 0, 0, 0.9) 3.048%,
                    rgba(0, 0, 0, 0) 78.036%
                );
            }
        }
        @media (max-width: $mobile) {
            border-radius: toRem(4);
            overflow: hidden;
            box-shadow: 0px 4px 12px 0px rgba(119, 114, 114, 0.45);
            padding-bottom: 71.428571%; /* 240/336 */
            position: relative;
            &:not(:last-child) {
                margin-bottom: toRem(20);
            }
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            @media (max-width: $mobile) {
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
    &__image-buttons {
        display: none;
        @media (max-width: $mobile) {
            ._mob-active & {
                position: absolute;
                top: 50%;
                left: 0;
                width: 100%;
                z-index: 2;
                display: flex;
                justify-content: space-between;
                transform: translate(0, -50%);
                .offer-section-specialize__arrow {
                    background-color: #c38c5350;
                }
            }
        }
    }
    &__more-button {
        @media (min-width: $mobile) {
            display: none;
        }
        @media (max-width: $mobile) {
            font-size: toRem(14);
            font-family: "Rubik", sans-serif;
            line-height: 1.5;
            color: var(--color-text-na);
            transition: color 0.3s;
            @media (any-hover: hover) {
                &:hover {
                    color: var(--color-text-paragraph);
                }
            }
            &:active {
                color: var(--color-text-paragraph);
            }
        }
        ._mob-active & {
            display: none;
        }
    }
    &__mobile-order {
        display: none;
        @media (max-width: $mobile) {
            ._mob-active & {
                display: inline-flex;
            }
        }
    }
    &__slider {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 150;
        background-color: #2c2c2c;
        opacity: 1;
        visibility: hidden;
        ._show-gallery & {
            opacity: 1;
            visibility: visible;
        }
    }
    &__wrapper {
    }
    &__slide {
        display: flex;
        align-items: center;
        img {
            max-width: 100vw;
        }
    }
    &__swiper-buttons {
        position: fixed;
        top: 50%;
        left: 0;
        width: 100%;
        z-index: 2;
        display: flex;
        justify-content: space-between;
        padding: 0 toRem(30);
        pointer-events: none;
        @media (max-width: $mobile) {
            padding: 0 toRem(5);
        }
    }
    &__close-btn {
        position: fixed;
        top: toRem(30);
        right: toRem(30);
        z-index: 2;
        color: var(--color-white);
        transition: transform 0.3s;
        @media (any-hover: hover) {
            &:hover {
                transform: scale(1.2);
            }
        }
    }
}
.offer-section-specialize {
    max-width: toRem(490);
    @media (max-width: $mobile) {
        display: none;
        ._mob-active & {
            display: block;
        }
    }
    &__title {
        @include adaptiveValue("font-size", 30, 16);
        text-transform: uppercase;
        &:not(:last-child) {
            margin-bottom: toRem(20);
        }
        @media (max-width: $mobile) {
            color: var(--color-black);
        }
    }
    &__text {
        font-family: "Rubik", sans-serif;
        @include adaptiveValue("font-size", 18, 14);
        line-height: 1.5;

        &:not(:last-child) {
            margin-bottom: toRem(40);
            @media (max-width: $mobile) {
                margin-bottom: toRem(20);
            }
        }
        @media (max-width: $mobile) {
            color: var(--color-text-paragraph);
        }
    }
    &__actions {
        display: flex;
        gap: toRem(30);
        justify-content: space-between;
        align-items: center;
        @media (max-width: $mobile) {
            display: none;
        }
    }
    &__button {
    }
    &__arrows {
        display: flex;
        gap: toRem(20);
    }
    &__arrow {
        width: toRem(42);
        height: toRem(42);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: toRem(10);
        color: var(--color-white);
        transition:
            border-color 0.3s,
            box-shadow 0.3s,
            background-color 0.3s,
            backdrop-filter 0.3s;
    }
}
.swiper-button-prev,
.swiper-button-next {
    width: toRem(42);
    height: toRem(42);
    border-radius: 50%;
    background-color: var(--color-gold);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: toRem(10);
    color: var(--color-white);
    pointer-events: all;
    transition:
        border-color 0.3s,
        box-shadow 0.3s,
        background-color 0.3s,
        backdrop-filter 0.3s;
    @media (max-width: $mobile) {
        width: toRem(30);
        height: toRem(30);
        font-size: toRem(6);
    }
}
//========================================================================================================================================================
.stages {
    &__container {
    }
    &__title-block {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 50, 30);
        }
        @media (min-width: $mobile) {
            .title-block__main-content {
                flex: 0 0 48.870968%; /* 606/1240 */
            }
        }
    }
    &__super-spollers {
        @media (min-width: $tablet) {
            flex-direction: row-reverse;
        }
        .spollers__title {
            color: var(--color-black);
        }
        .spollers__open {
            color: var(--color-gold);
        }
    }
}
//========================================================================================================================================================
.consult {
    @include adaptiveValue("padding-top", 170, 60);
    @include adaptiveValue("padding-bottom", 170, 50);
    background: url("@img/consult.jpeg") center center / cover no-repeat;
    &__container {
    }
    &__window {
        background-color: var(--color-white);
        border-radius: 6px;
        overflow: hidden;
        background: url("@img/bg-drowing.jpeg") center center / cover no-repeat;
        @media (min-width: $tablet) {
            padding: toRem(58) toRem(105);
            @include adaptiveValue("padding-left", 105, 28, 0, 1240, 992);
            @include adaptiveValue("padding-right", 105, 28, 0, 1240, 992);
            display: flex;
            align-items: center;
            gap: toRem(50);
            justify-content: space-between;
        }
        @media (max-width: $tablet) {
            padding: toRem(94) toRem(28);
        }
    }
    &__info {
        @media (min-width: $mobile) {
            position: relative;
            z-index: 2;
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: 168.010076%; /* 667/397 */
                transform: translate(-50%, -50%);
                z-index: -1;
                pointer-events: none;
                height: 168%; /* 336/200 */
                filter: blur(158.39999389648438px);
                background-color: var(--color-white);
            }
        }
        @media (min-width: $tablet) {
            max-width: toRem(397);
        }
        @media (max-width: $tablet) {
            &:not(:last-child) {
                margin-bottom: toRem(30);
            }
        }
    }
    &__title {
        @include adaptiveValue("font-size", 30, 24);
        line-height: 1.5;
        font-weight: 200;
        text-transform: uppercase;
        ._light {
            font-weight: 300;
        }
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 20, 10);
        }
    }
    &__text {
        color: var(--color-text-paragraph);
        @include adaptiveValue("font-size", 20, 14);
        font-weight: 200;
        line-height: 1.5;
    }
    &__form {
        position: relative;
        z-index: 2;
        @media (min-width: $tablet) {
            max-width: toRem(500);
        }
    }
}
.form-consult {
    width: 100%;
    @media (min-width: $mobile) {
        border-radius: 4px;
        box-shadow: 0 4px 12px 0 rgba(119, 114, 114, 0.45);
        background-color: #fcfcf7;
        padding: toRem(80) toRem(40);
    }
    &__body {
        max-width: toRem(310);
        margin: 0 auto;
    }
    &__input {
        &:not(:last-child) {
            margin-bottom: toRem(20);
        }
        &:nth-child(2) {
            &:not(:last-child) {
                @include adaptiveValue("margin-bottom", 40, 30);
            }
        }
    }
    &__button {
        width: 100%;
    }
}
//========================================================================================================================================================
.faq {
    background: url("@img/faq-bg.jpeg") center center / cover no-repeat;
    @include adaptiveValue("padding-top", 120, 60);
    @include adaptiveValue("padding-bottom", 120, 60);
    &__container {
    }
    &__spollers {
        max-width: toRem(744);
        .spollers__item {
            border-bottom-color: var(--color-light-gray);
        }
        .spollers__title {
            color: var(--color-light-gray);
        }
        ._spoller-active {
            color: var(--color-white);
            font-weight: 300;
        }
        ._icon-arrow-right-bottom,
        ._icon-exit {
            color: var(--color-white);
        }
        .spollers__body {
            color: var(--color-white);
            padding-bottom: toRem(20);
        }
    }
}
//========================================================================================================================================================
.works {
    &__container {
    }
    &__title-block {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 50, 30);
        }
    }
    &__gallery {
    }
}
//========================================================================================================================================================
.gallery {
    @media (min-width: $mobile) {
        display: grid !important;
        grid-template-columns: repeat(3, 1fr);
        gap: toRem(24);
    }
    @media (max-width: $tablet) {
        gap: toRem(10);
    }
    &__link {
        height: toRem(266);
        position: relative;
        width: 100%;
        border-radius: 4px;
        overflow: hidden;
        box-shadow: 0 4px 12px 0 rgba(119, 114, 114, 0.45);
        @media (max-width: $tablet) {
            height: toRem(170);
        }
        @media (any-hover: hover) {
            &:hover img {
                transform: scale(1.05);
            }
        }
        @media (max-width: $mobile) {
            @include adaptiveValue("height", 400, 240, 0, 768, 360);
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.5s;
        }
    }
}
